@use "../../assets/styles/mixins" as mixin;

.about {
  height: 100vh;
  background-color: var(--gray-1);
  padding: 60px 80px;
  display: flex;

  @include mixin.md-lt {
    flex-direction: column;
  }
  span {
    font-size: 70px;
  }

  &__introduce {
    &__title {
      font-size: 8rem;
      font-weight: 700;
      padding-top: 60px;
      margin-bottom: 40px;
    }
    &__intro {
      line-height: 30px;
    }
    &__text {
      width: 500px;
      line-height: 30px;
    }
  }
  &__picture {
    background-color: var(--orange);
    height: 500px;
    max-width: 480px;

    @include mixin.md-lt {
      height: 280px;
      width: 100%;
    }

    & img {
      opacity: 0.7;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
