@use "../../assets/styles/mixins" as mixin;

.about {
  height: 100vh;
  background-color: var(--gray-1);
  padding: 60px 80px;
  display: flex;

  @include mixin.md-lt {
    flex-direction: column;
  }
  span {
    font-size: 70px;
  }

  &__introduce {
    width: 100%;
    &__title {
      font-family: "Kaisei Decol", serif;
      font-size: 8rem;
      font-weight: 700;
      margin-bottom: 40px;
    }
    &__intro {
      line-height: 30px;
      margin-bottom: 40px;
      margin: auto;
    }
    &__text {
      width: 800px;
      line-height: 30px;
      margin: auto;
    }
  }
  &__picture {
    background-color: var(--orange);
    height: 500px;
    max-width: 480px;

    @include mixin.md-lt {
      height: 280px;
      width: 100%;
    }

    & img {
      opacity: 0.7;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__links {
    font-family: "Kaisei Decol", serif;
    font-weight: 900;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    :hover {
      font-style: oblique;
      cursor: pointer;
      transform: translate(3px);
      transition: all 400ms;
    }
  }
}
