@use "../../assets/styles/mixins" as mixin;

.about {
  height: 100vh;
  background-color: var(--gray-1);
  padding: 60px 80px;

  &__title {
    font-family: var(--font-second);
    font-weight: 900;
    font-size: 9rem;
    line-height: 8rem;
    margin-bottom: 20px;

    &__number {
      font-family: var(--font-family);
      -webkit-text-stroke: 1px var(--orange);
      color: var(--gray-1);
      font-size: 5.5rem;
    }
  }
  &__introduce {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    &__text {
      line-height: 1.8rem;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--gray-2);
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    &__arrow {
      width: 80px;
      transform: rotate(-0.13turn);
      margin-top: -30px;
    }

    &__links {
      font-family: var(--font-second);
      font-weight: 900;
      font-size: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
.about-link :hover {
  font-style: oblique;
  cursor: pointer;
  transform: translate(3px);
  transition: all 400ms;
}
