@use "../../assets/styles/mixins" as mixin;

.works {
  min-height: 100vh;
  background-color: white;
  padding: 60px 80px;
  display: grid;
  place-items: center;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include mixin.lg {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mixin.md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mixin.sm-lt {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.block {
  background-color: var(--red);
  height: 350px;
}

.maintitle {
  color: white;
  padding: 20px 10px;
  font-weight: 500;
}

.link {
  margin: 0;
  padding: 0;
}

.over {
  &:hover {
    background-color: var(--orange);
  }
}

.card {
  position: relative;
  height: 350px;
  overflow: hidden;
  cursor: none;

  &:hover {
    img {
      opacity: 0.2;
    }

    .card__text {
      opacity: 1;
    }
  }

  &__picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__text {
    position: absolute;
    opacity: 0;
    top: 20px;
    left: 10px;
    width: 100%;
    height: 40%;

    &__title {
      font-size: 34px;
      font-weight: 700;
      color: white;
    }

    &__description {
      font-size: 14px;
      font-weight: 500;
      color: white;
      line-height: 20px;
    }
  }
}
