.contact {
  height: 100vh;
  background-color: var(--gray-1);
  padding: 60px 80px;
  display: grid;

  &__top {
    &__name {
      font-size: 30px;
      font-weight: 700;
      line-height: 10px;
    }
    &__job {
      font-size: 20px;
      font-weight: 700;
      line-height: 10px;
    }

    &__details {
      font-size: 20px;
      line-height: 30px;
    }
  }
  &__bottom {
    display: grid;
    place-items: center;

    &__form {
      width: 80%;
      display: grid;
      grid-template-columns: 1fr;
      &__title {
        color: var(--gray-1);
        background-color: var(--green);
        padding: 0px 10px;
        font-size: 6vw;
      }
      &__input {
        background-color: var(--gray-1);
        outline: none;
        border: none;
        border-bottom: 1px solid var(--gray-2);
        padding: 30px;
        font-size: 20px;
        font-weight: 700;
      }
      &__message {
        background-color: var(--gray-1);
        outline: none;
        border: none;
        padding: 30px;
        margin-bottom: 20px;
        height: 100px;
        font-size: 20px;
        font-weight: 700;
        resize: none;
      }
      &__btn {
        font-size: 20px;
        font-weight: 700;
        width: 220px;
        height: 60px;
        cursor: pointer;
        background-color: white;
        border: 1px solid var(--gray-2);
        color: var(--gray-2);
      }
    }
  }
}
