@use "../../assets/styles/mixins" as mixin;

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  &__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
    @include mixin.sm-lt {
      flex-direction: column;
    }

    &__title {
      font-weight: 700;
      font-size: 18px;
      padding: 10px 15px;

      @include mixin.md-lt {
        font-size: 14px;
      }
      @include mixin.sm-lt {
        display: flex;
        justify-content: center;
      }
    }

    &__menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      font-weight: 700;
      font-size: 14px;

      &__item {
        margin-left: 0px;
        padding: 10px 15px;
      }
    }
  }
}

.number {
  opacity: 0;
  font-size: 12px;
}

#homeNav:hover {
  background-color: var(--gray-2);
  color: white;
  .number {
    opacity: 1;
  }
}

#aboutNav:hover {
  background-color: var(--orange);

  color: white;
  .number {
    opacity: 1;
  }
}
#worksNav:hover {
  background-color: var(--red);

  color: white;
  .number {
    opacity: 1;
  }
}
#contactNav:hover {
  background-color: var(--green);

  color: white;
  .number {
    opacity: 1;
  }
}
