.container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 80px 60px;

  &__logo {
    width: 20%;
  }
}
.project {
  max-width: 800px;
  &__title {
    font-size: 60px;
    text-align: center;
  }
  &__pitch {
    font-size: 30px;
    margin-top: 30px;
    line-height: 35px;
  }
  &__mission {
    margin-top: 30px;
    font-size: 16px;
    line-height: 23px;
    &__description {
      display: flex;
      justify-content: space-around;

      &__block {
        &__title {
          font-size: 1.2rem;
          text-decoration: underline;
        }
      }
    }
  }
}
