:root {
  --orange: #e7aa2c;
  --red: #db4c44;
  --green: #119d66;
  --gray-1: #dddddd;
  --gray-2: #3f3b37;
  --font-family: "Lato", sans-serif;
  --font-second: "Lato", sans-serif;
  // --font-second: "Kaisei Decol", serif;
  --text-color: #444;
}
